.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;    
  z-index: 1000;
}

.modal-content {
  background: radial-gradient(circle, #9fb7ee,#c5c9d3) !important;
  
  background-color: #a92424;
  padding: 20px;
  padding-bottom: 80px !important;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  /* max-width: 900px; */
  position: relative;
  z-index: 1001;
  height: 100%;
}

.pie-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
  /* margin-bottom: 520px; */
  /* margin-left: 50px; */
  width: 100%;
  height: 100%;
  margin-bottom: 200px;
  border-radius: 20px;
}

.close-icon {
  position: absolute;
 font-size: 24px;
  cursor: pointer;
}

.close-icon:hover {
  color: #ff0000;
}

.modal-content h3 {
  margin-bottom: 20px;
  color: #333;
}
