.customers-container {
    padding: 20px;
    background: var(--glass);
    border-radius: 1rem;
    box-shadow: var(--boxShadow);
    color: var(--black);
  }
  
  .customers-container h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: var(--black);
  }
  
  .customers-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .customers-table th,
  .customers-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid var(--gray);
  }
  
  .customers-table th {
    background: var(--yellow);
    color: var(--black);
    font-weight: bold;
  }
  
  .customers-table tr:hover {
    background: var(--glass);
  }
  
  .status {
    /* font-weight: bold; */
  }
  
  .status.active {
    color: #4caf50; /* Green */
    background-color: var(--glass);
  }
  
  .status.inactive {
    color: #ff9800; /* Orange */
  }
  